* {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin-left: 0px;
  padding: 0;
  margin:0;
}

body {
  background-color: black;
}

.header {
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  height: 25px;
  width: 200px;
  margin: auto;
  text-align: center;
  border: solid 1px rgb(197, 117, 236);
}
.image {
  width: 85px;
  height: 128px;
  margin-top: 10px;
  border-radius: 20px;
}

.main-title {
  color: plum;
  text-align: center;
  font-size: 28px;
}

.button {
  background-color: rgb(197, 117, 236);
  color: white;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 30px;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
}

.container {
  text-align: center;
}

.container-series {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.container-favorite {
  width: 40%;
}

.container-results {
  width: 60%;
}

.js_seriesResults, .js_favoriteSeries {
  display: flex;
  flex-wrap: wrap;
}

.favorite {
  color: violet;
}

.results {
  color: skyblue;
}

.ul {
  list-style: none;
}

.js_itemResult p {
  font-size: 14px;
}

.js_favoriteSeries li {
  border: 5px solid rgb(197, 117, 236);
}

.selectedItem {
  border: 5px solid skyblue;
}

img{
  height: 150px;
}

h2 {
  margin: 15px 0;
}

li {
  color: plum;
  width: 150px;
  height: 210px;
  margin: 0 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing:border-box;
}

p {
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .container-favorite {
    width: 50%;
  }
  .container-results {
    width: 50%;
  }
}